@media (max-width: 690px) {
    #cabecalho p {
        font-size: 0.8rem;
    }

    .subtitulos {
        font-size: 1rem;
    }
    
    #painel-principal {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #sessao-imc {
        height: auto;
        margin-bottom: 20px;
    }

    #sessao-imc h2 {
        font-size: 0.8rem;
    }

    .botoes {
        width: 100px;
        font-size: 10px;
    }

    #confirmar-ou-limpar {
        flex-direction: row;
    }

    #painel-da-tabela {
        background-color: #fff;
    }

    #painel-da-tabela h2 {
        margin-top: 10px;
        font-size: 0.8rem;
    }

    #resultado-do-imc {
        margin-bottom: 50px;
    }

    #texto-resultado.animacao {
        animation: fadeInAnimation ease 5s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
}